<div class="container well">
    <%= render 'form', name: "editar" %>
</div>

<div class="container">
  <% unless @medical_history.nil? %>
    <%= link_to 'Atras', medical_history_path(@medical_history), class: "btn btn-default" %>
  <% end %>  
</div>
