<div class="container jumbotron">
    <%= render 'form', name: "Editar" %>
</div>

<div class="container" style="padding-bottom:20px;">
    <%= link_to 'Atras', @medical_history, class: "btn btn-default" %>
</div>
