<div class="container jumbotron">
    <%= render 'form', name: "Crear" %>
</div>

<div class="container" style="padding-bottom:20px;">
    <%= link_to 'Atras', patients_path, class: "btn btn-default" %>
</div>
