<div class="container well">
    <%= render 'form', name: "Nueva" %>
</div>

<div class="container" style="padding-bottom:15px;">
    <%= link_to 'Atras', medical_history_path(@medical_history), class: "btn btn-warning btn-lg" %>
</div>
