<div class="container">
  <div class="row jumbotron" style="background-color:#989b9e;">
    <div class="col-md-offset-4 col-md-5 well">
          <h2>Informacion</h2>
          <h4>Reserva programada</h4>
          <hr>
            <% @reservations.each do |re| %>
                <%= link_to l(re.fecha, format: :long), reservation_path(re), class: "btn btn-info" %><br>
                <%= l(re.hora, format: :very_short) %><br>
                <%= re.patient.full_name %><br>
                <h6>Reservado hace <%= distance_of_time_in_words_to_now(re.created_at)%> atras</h6>
                <hr>            
            <% end %>
    </div>
  </div>
</div>
